<%= pb_kit("Button", props: { text: "Click Me!", variant: "primary" }) %>
<div data-react-component="HelloWorld" data-props='{"name":"React User"}'></div>
<%= javascript_include_tag "application", type: "module" %>
